<!doctype html>
<html>
 <head>
 	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Resultado</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/estilos.css') }}">
    <script>
    $( function() {
      $( "#tabs" ).tabs();
    } );
    </script>
 </head>
 <body>
 	<div class='header'>
   		<img src="{{ url_for('static', filename='img/picpay.png') }}">
   		<img src="{{ url_for('static', filename='img/ifsp.png') }}">
   		<img src="{{ url_for('static', filename='img/unifesp.png') }}">   		
   	</div>
   	<a href="/">Voltar</a>  	
    <br><br>
 	<h3>Problema relatado:</h3>
 	<div>{{ problema }}</div>
 	<br> 
 	<br>  	 	

<div id="tabs">
  <ul>
    <li><a href="#tabs-1">Classificação sugerida</a></li>
    <li><a href="#tabs-2">Similaridade ({{issuesid[0][1]|round(2)}}): Issue {{issuesid[0][0]}}</a></li>
    <li><a href="#tabs-3">Similaridade ({{issuesid[1][1]|round(2)}}): Issue {{issuesid[1][0]}}</a></li>
    <li><a href="#tabs-4">Similaridade ({{issuesid[2][1]|round(2)}}): Issue {{issuesid[2][0]}}</a></li>
  </ul>
  <div id="tabs-1"> 	
 
    <table id="groups">
    	<tr>
    		<th>Group</th>
    		<th>%</th>
    	</tr>
    	{% for row in groups %}
    	<tr>
    		<td>{{row[1]}}</td>
    		<td>{{row[0]|round(2)}}</td>
    	</tr>    	
    	{% endfor %}
    </table>

  </div>
  <div id="tabs-2">    

    <table id="groups">
    	<tr>
    		<th>Issue</th>
    		<th>Message ID</th>
    		<th>Group</th>
    		<th>Sub_group_1</th>
    		<th>Body</th>
    		<th>Origin</th>
    		<th>Author_Name</th>
    		<th>Created</th>
    		<th>Intervenção</th>
    	</tr>
    	{% for row in issues[0] %}
    	<tr>
    		<td>{{row.issue_id_messages}}</td>  
    		<td>{{row.issue_message_id}}</td>  
    		<td>{{row.group}}</td>  
    		<td>{{row.sub_group_1}}</td>  
    		<td>{{row.body}}</td>  
    		<td>{{row.origin}}</td>  
    		<td>{{row.author_name}}</td>  
    		<td>{{row.created_at_messages}}</td>  
    		<td>{{row.is_intervencao_in_list}}</td>    		
    	</tr>    	
    	{% endfor %}
    </table>

  </div>
  <div id="tabs-3">
    <table id="groups">
    	<tr>
    		<th>Issue</th>
    		<th>Message ID</th>
    		<th>Group</th>
    		<th>Sub_group_1</th>
    		<th>Body</th>
    		<th>Origin</th>
    		<th>Author_Name</th>
    		<th>Created</th>
    		<th>Intervenção</th>
    	</tr>
    	{% for row in issues[1] %}
    	<tr>
    		<td>{{row.issue_id_messages}}</td>  
    		<td>{{row.issue_message_id}}</td>  
    		<td>{{row.group}}</td>  
    		<td>{{row.sub_group_1}}</td>  
    		<td>{{row.body}}</td>  
    		<td>{{row.origin}}</td>  
    		<td>{{row.author_name}}</td>  
    		<td>{{row.created_at_messages}}</td>  
    		<td>{{row.is_intervencao_in_list}}</td>    		
    	</tr>    	
    	{% endfor %}
    </table>
  </div>
  <div id="tabs-4">
    <table id="groups">
    	<tr>
    		<th>Issue</th>
    		<th>Message ID</th>
    		<th>Group</th>
    		<th>Sub_group_1</th>
    		<th>Body</th>
    		<th>Origin</th>
    		<th>Author_Name</th>
    		<th>Created</th>
    		<th>Intervenção</th>
    	</tr>
    	{% for row in issues[2] %}
    	<tr>
    		<td>{{row.issue_id_messages}}</td>  
    		<td>{{row.issue_message_id}}</td>  
    		<td>{{row.group}}</td>  
    		<td>{{row.sub_group_1}}</td>  
    		<td>{{row.body}}</td>  
    		<td>{{row.origin}}</td>  
    		<td>{{row.author_name}}</td>  
    		<td>{{row.created_at_messages}}</td>  
    		<td>{{row.is_intervencao_in_list}}</td>    		
    	</tr>    	
    	{% endfor %}
    </table>
  </div>
</div>

 </div>
 </div>
 </body>
</html>